<div class="portfolio-meta">
    <h3>Project Details</h3>
    <div class="portfolio-details">
        <p><strong>Project Brief:</strong> </p>
        <p>{{ page.project_brief }}</p>
    </div>
    <div class="portfolio-details">
        <p><strong>Role:</strong> {{ page.project_role }}</p>
    </div>
    <div class="portfolio-details">
        <p><strong>Tools:</strong> {{ page.project_tools }}</p>
    </div>
    <div class="portfolio-details">
        <p><strong>Date:</strong> {{ page.project_date }}</p>
    </div>

</div>